# Yandex Object Storage (ключи из урока «Неделя 1. Постановка задачи проектного месяца»)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# AWS_SESSION_TOKEN=  # только для временных ключей
S3_ENDPOINT_URL=https://storage.yandexcloud.net
S3_BUCKET=s3-ds-source

# MLflow (параметры из урока «Неделя 3. Улучшение системы, логирование в MLflow, финальные выводы»)
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
